/* MODIFICATIONS */
.btn {
    width: 100%;
}

form button.btn {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

form button.btn i.left {
    margin-right: 10px;
}

table > tbody > tr:nth-child(2n) {
    background-color: #c2e8e4;
}
/* END MODIFICATIONS */

.center-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.teal.lighten-6 {
    background-color: #f4fbfa !important;
}

.bold-text {
    font-weight: bold;
}