/* MODIFICATIONS */
.btn {
    width: 100%;
}

form button.btn {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
}

form button.btn i.left {
    margin: 0 20px;
}

table > tbody > tr:nth-child(2n) {
    background-color: #c2e8e4;
}
/* END MODIFICATIONS */

.center-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bold-text {
    font-weight: bold;
}

.hide-element {
    opacity: 0;
}

.message-box {
    display: absolute;
    transform: translate(-50%, -300px);
}

.message-box__row {
    display: flex;
}

.message-box__card {
    max-width: 600px;
    margin: auto;
    padding: 0;
}

.user-table {
    transform: translate(-50%, 240px);
}